

<h1>Sign Up</h1>

<p>Already have an account? Click <a href="/login"> here </a>to log in. </p>

<form action = "/signup" method="POST">
	<input type= "email" placeholder="email" name="email"></br>
	<input type= "text" placeholder="Full name" name="fullname"></br>
	<input type= "password" placeholder="Create password" name="password"></br>
	<input type= "submit" value="Sign up">
</form>



